#footer{
    /* border: 1px solid black; */
    position: relative;
    /* xborder-top: 1px solid #dddddd; */
    width: 100%;
    background-color: #2bb673;
    height: 300px;
    padding-top: 10px;
    display: -webkit-box;
}
#footer_main_div{
     margin: auto;
     height: 100%;
     width: 65%;
    /* border: 1px solid black; */
}
 #footer_main_div_upper{
    /* border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px; */
   /* padding: auto; */
    height: 82%;
    width: 100%;
    display: flex;
    /* float: right; */
   
    /* border: 1px solid black; */
} 
#footer_main_div_down{
  height: 15%;
  width: 100%;
  margin: auto;
  /* border: 1px solid black; */
  /* padding: auto; */
}
#footer_main_div_upper>div{
 
    /* border: 1px solid rebeccapurple; */
    height: 100%;
    width: 20%;
    font-weight: bold;
    color: #ffffff;
    text-align: left;

    
}
b{
    font-weight: bold;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 14px;

}

.footer-main_div_upper_href{
    text-decoration: none;
    color: #eeeeee;
    font-weight: normal;
    padding-top: 1px;
    font-size: 12px;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}
#footer_main_div_down{
    color: #eeeeee;
    font-size: 10px;
    text-align: -webkit-center;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    
}